/*

LESS Configuration File

Description:
This file is a list of commonly used variables
in the Leaf framework and is used to customize
the client's build.

Warning: 
Making changes to this file will impact the framework.

Style Guide 0.1.0

*/

// Grid Columns
@desktop-total-cols: 		12;
@tablet-total-cols: 		9;
@mobile-total-cols: 		3;

// Grid Margins
@base-margin: 				36;
@tablet-margin: 			32;
@mobile-margin: 			24;

// Vertical Rhythm
@base-vertical:				20;

// Grid Class Prefix
@desktop-prefix: 			~"gd";
@tablet-prefix: 			~"gt";
@mobile-prefix: 			~"gm";

// Responsive Breakpoints
@mq-mobile-width:			480;
@mq-tablet-width:			768;
@mq-desktop-width:			992;
@mq-widescreen-width:		1240;

// Typographic Scale
@great-text-size: 			48;
@canon-text-size: 			32;
@paragon-text-size: 		24;
@primer-text-size: 			18;
@normal-text-size: 			16;
@petite-text-size: 			14;
@minion-text-size: 			12;

// Baseline Typography
@base-text-size: 			@normal-text-size;
@body-percentage: 			100%;

// Base Colors
@white: 					#fff;
@black: 					#000;
@grey: 						#999;
@light-grey: 				lighten(@grey, 25%);
@dark-grey: 				#403d38;
@blue: 						#53639c;
@light-blue: 				#d3dee8;
@dark-blue: 				#262c44;
@red: 						#b22828;
@silver:					#fdfdfd;
@dark-beige:				#aa9885;
@beige:						#efebda;
@mocha:						#bcb59b;
@green:						#8dc63f;
@orange:					#f4913f;

// Client Specific Colors
@client-color-1: 			@dark-blue;
@client-color-2: 			@blue;
@client-color-3: 			@light-blue;
@client-color-4: 			@orange;
@client-color-5: 			@beige;
@client-color-6: 			@mocha;


// Text Colors
@primary-text-color: 		@dark-grey;
@secondary-text-color: 		@dark-grey;
@inverse-text-color: 		@white;
@button-text-color: 		@inverse-text-color;

// Font Weights
@thin-weight:				300;
@normal-weight:				400;
@medium-weight:				500;
@semibold-weight:			600;
@bold-weight:				700;

// Link Colors
@primary-link-color: 		@blue;
@primary-link-hover: 		@light-blue;

// Heading Colors
@primary-heading-color: 	@client-color-1;
@secondary-heading-color: 	@grey;
@tertiary-heading-color: 	@client-color-4;

// Font Declarations
@source-sans:				'Source Sans Pro', Arial, sans-serif;
@oxygen:					'Oxygen', Arial, sans-serif;

@primary-font-family:		@source-sans;

@primary-heading-font:		@oxygen;
@secondary-heading-font:	@primary-heading-font;

// Form Variables
@field-focus-color:			@blue;

// Tables
@table-border-color: 		@light-grey;

// Sprite Variables
@sprite-grid:				50px;

@base-path-images: ~"/templates/leaf-base/resources/images/";


// TODO: Horizontal Margins and Vertical Margins need to live somewhere else.

// Horizontal Margins
// 
// Take the base grid margin, divide it (if necessary), then divide 
// the result by the `body`'s base text size. Convert to ems.

@full-side: 1em * ((@base-margin / 2) / @base-text-size);
@half-side: 1em * ((@base-margin / 4) / @base-text-size);
@quarter-side: 1em * ((@base-margin / 8) / @base-text-size);
@double-side: 1em * (@base-margin / @base-text-size);

// Vertical Margins
// 
// Take the base vertical unit, divide it (if necessary), then divide 
// the result by the `body`'s base text size. Convert to ems.

@full-vertical: 1em * (@base-vertical / @base-text-size);
@half-vertical: 1em * ((@base-vertical / 2) / @base-text-size);
@quarter-vertical: 1em * ((@base-vertical / 4) / @base-text-size);
@eighth-vertical: 1em * ((@base-vertical / 8) / @base-text-size);
@double-vertical: 1em * ((@base-vertical * 2) / @base-text-size);
